cfg/obsidian/workspace.json
cfg/obsidian/plugins/duplicate-line
cfg/obsidian/plugins/link-favicon/data.json
cfg/obsidian/plugins/obsidian-icon-shortcodes
cfg/obsidian/plugins/obsidian-image-toolkit
cfg/obsidian/plugins/obsidian-quiet-outline
cfg/obsidian/plugins/hover-external-link
cfg/obsidian/plugins/recent-files-obsidian
