.cm-inline-code {
    /*background-color: #000000 !important;*/
    background-color: #171f26 !important;
    /*background-color: #282C34 !important;*/
    /* outline causes cursor disappear: */
    color: #6dbf77 !important;
    /*transition-timing-function: ease-in;*/
    /*transition: border-width 1s;*/

    border: 0 solid #171f26;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-left: 1px solid #171f26;
    border-right: 1px solid #171f26;
}

/*.cm-line:not(.cm-active) .cm-inline-code {*/
.cm-widgetBuffer + .cm-inline-code:not(.cm-formatting) {
    border-radius: 2px;
    border-left: 10px solid #171f26;
    border-right: 10px solid #171f26;
}

body {
    --code-normal: #6dbf77;
    --code-block-alt-bg: #171f26 !important;
}

.cm-inline-code, .cm-s-obsidian .HyperMD-codeblock, .markdown-preview-view.markdown-preview-view :is(pre, code) {
    --code-block-alt-bg: #171f26 !important;
}


.markdown-rendered details pre {
    color: #6dbf77;
    font-size: var(--font-smallest);
}
