body {
  --h1-color: #367064;
  --h2-color: #d2ed91;
  --h3-color: #a886f1;
  --h4-color: #1f7481;
  --h5-color: #F7F3BC;
  --h6-color: #cd589f;
  --header-tag-background: #22303b;
}

/** Block reference (^) styling */

.cm-s-obsidian span.cm-blockid {
  color: #ae80f5;
}

/** Titles styling */

.inline-title {
    color: #17798F;
}

.markdown-preview-view h1 {
    color: #367064;
}

.cm-header-2 {
    font-style: italic;

    /**
     * To not apply italic for emojis
     */
    font-synthesis: none;
}

/** Top level titles (H1, H2): add negative padding */

.HyperMD-header.HyperMD-header-1,
.HyperMD-header.HyperMD-header-2 {
  transform: translateX(-10px);
}

/** Inline code and tags in headers */

.cm-header.cm-header-1.cm-inline-code,
.cm-header.cm-header-1.cm-hashtag,
.cm-header.cm-header-1.cm-link {
  color: var(--h1-color) !important;
}

.cm-header.cm-header-2.cm-inline-code,
.cm-header.cm-header-2.cm-hashtag,
.cm-header.cm-header-2.cm-link {
  color: var(--h2-color) !important;
}

.cm-header.cm-header-3.cm-inline-code,
.cm-header.cm-header-3.cm-hashtag,
.cm-header.cm-header-3.cm-link {
  color: var(--h3-color) !important;
}

.cm-header.cm-header-4.cm-inline-code,
.cm-header.cm-header-4.cm-hashtag,
.cm-header.cm-header-4.cm-link {
  color: var(--h4-color) !important;
}

.cm-header.cm-header-5.cm-inline-code,
.cm-header.cm-header-5.cm-hashtag,
.cm-header.cm-header-5.cm-link {
  color: var(--h5-color) !important;
}

.cm-header.cm-header-6.cm-inline-code,
.cm-header.cm-header-6.cm-hashtag,
.cm-header.cm-header-6.cm-link {
  color: var(--h6-color) !important;
}

.cm-header.cm-hashtag {
  background-color: var(--header-tag-background);
}

.cm-header.cm-hashtag-begin {
  padding-left: 8px;
}

.cm-header.cm-hashtag-end {
  padding-right: 8px;
}

/** Less spacing between headers. Because need to remember add blank line before header */
.cm-s-obsidian .cm-line.HyperMD-header {
  /*--p-spacing: 0.3rem;*/
  padding-top: 0.3rem;
}


