/* .CodeMirror-activeline .CodeMirror-linebackground { */
.mod-active .cm-active.cm-line {
    /* background-color: rgba(0, 120, 255, 0.2) !important; */

    background-color: rgba(0, 5, 12, 0.8) !important;
}
