body {
  /*--tab-font-size: var(--font-ui-smaller);*/
  --tab-font-size: 14px;
  /*--tab-text-color: #aaa;*/
  --tab-text-color: #fff;
  --tab-text-color-active: #fff;
  --tab-outline-color: #fff;
}

/** TODO */
.workspace-tab-header-inner-title {
  color: #fff !important;
  letter-spacing: 0.05em;
}

.workspace-tab-header.is-active {
  /*text-decoration: underline;*/
  border: 1px solid #aaa;
  border-bottom: none;
}

.workspace .mod-root .workspace-tab-header-spacer {
    flex-shrink: 0;
    flex-basis: 10px;
}

.workspace .mod-root .workspace-tab-header-container {
  display: table;
}

.workspace .mod-root .workspace-tab-header-container-inner {
  flex-wrap: wrap;
}

.workspace .mod-root .workspace-tab-header {
    flex: none !important;
}

.titlebar .workspace-tab-header-tab-list,
.titlebar .workspace-tab-header-new-tab,
.mod-root .workspace-tab-header-tab-list,
.mod-root .workspace-tab-header-new-tab {
    display: table-cell;
}

.workspace .mod-root .workspace-tab-header {
    width: unset;
    max-width: var(--tab-width);
}

.workspace-tab-header-inner {
    width: unset;
}

.workspace .mod-root .workspace-tab-header .workspace-tab-header-inner-close-button {
  position: absolute;
  right: 0;
  background-color: #000;
  border-radius: 10px;
}

.workspace .mod-root .workspace-tab-header.is-active .workspace-tab-header-inner-close-button {
  background-color: transparent;
  position: static;
}
