/*
.is-left-sidedock-open .workspace-ribbon.side-dock-ribbon.mod-left::before,
.sidebar-toggle-button:is(.mod-right, .mod-left),
.mod-top .workspace-tab-header-container {
  height: 30px;

.workspace .mod-root .workspace-tab-header {
  padding-bottom: 0px;
  padding-top: 0px;
}

.mod-top .workspace-tab-header-container-inner {
  margin-top: 0px;
  padding-bottom: 0px;
}

.workspace .mod-root .workspace-tab {
  flex: 0 1 auto; 
  min-width: 110px; 
  padding: 5px 10px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  margin: 0; 
}
*/

.mod-root .workspace-tabs .workspace-tab-header {
  min-width: 100px;
  flex-shrink: 0;
}

.mod-root .workspace-tab-header-container {
  flex-wrap: wrap;
  height: unset;
  min-height: 60px;
  --tab-font-size: 15px;
}

.is-hidden-frameless:not(.is-fullscreen):not(.mod-macos) .workspace-tabs.mod-top-right-space .workspace-tab-header-container:after {
  height: 40px;
}

/* .mod-root .workspace-tab-header-new-tab +  */
.mod-root .workspace-tab-header-spacer {
  display: none;
}

.mod-root .workspace-tab-header-new-tab {
  position: absolute;
  right: 16px;
  top: 30px;
}

.mod-root .workspace-tab-header-tab-list {
  position: absolute;
  right: 0;
  top: 30px;
}

.mod-root .sidebar-toggle-button {
  position: absolute;
  right: 60px;
  top: 30px;
}

