.sidebar-toggle-button {
  width: 18px;
  padding-left: 4px;
  overflow: hidden;
}

.sidebar-toggle-button svg {
  width: 14px;
}

.mod-linux .titlebar-button, .mod-windows .titlebar-button {
  padding: 0 8px;
}

.mod-windows, .mod-linux {
  --frame-right-space: 86px;
}


