.view-content > .markdown-source-view > .cm-editor > .cm-scroller {
  padding-left: 12px !important;
}

.markdown-source-view .cm-gutters {
  margin-right: 20px !important;
  min-width: 40px;
}

.nav-files-container {
  padding-left: 4px;
  padding-right: 0;
}

body {
  --nav-item-size: 15px;

  /** Pane Relief: Toggle sliding panes setting */
  --pr-sliding-panes-width: 750px;
}
